<h1>About</h1>

<h3>WorkWire is a platform designed to connect skilled workers with the local jobs that require their attention. Every day, there are small tasks that people pay others to accomplish. Our mission is to dole out these tasks to the community, and create an environment where workers can gain experience in skilled professions on their own time, all the while saving users money and time.</h3>