<div class="about-page">
<h1>The Story</h1>

<h2></h2>

<h1>The Mission</h1>

<h2>WorkWire is a platform designed to connect skilled workers within South African townships with the local jobs that require their attention. Every day, there are small tasks that people pay others to accomplish. Our mission is to dole out these tasks to the township community, and create an environment where workers can gain experience in skilled professions, all the while saving users money and time.</h2>

</div>