<div class="about-page">
	<div class="fluid-container">
		<div class="row">
			<div class="col-md-6"><h1>The Story</h1>

			<p>WorkWire began when we visited Khayelitsha, located in the outskirts of Cape Town, and discussed the difficulties of living in a township setting with some of the locals in the area. An issue that often came up was unemployment, as well as crime arising from lack of community involvement for young people. WorkWire aims to fix this problem in one stroke.
			</p>

			</div>

			<div class="col-md-6"><h1>The Problem</h1>
			
			<p>
			Citizens of townships within the Cape Town area don't have enough work opportunies and don't have the resources to travel into the city. In addition, crime thrives due to lack of available pursuits within the townships themselves. Essentially, there's a severe lack of work opportunity.
			</p>
			
			</div>
		</div>
		<div class="row">
			<div class="col-md-6"><h1>The Solution</h1>

			<p>
			A method of providing simple, low-barrier work opportunites that workers can take advantage of during any hours of the day, whether it's after their normal job or in the place of a hobby. These work opportunities need to provide income, build the community, and allow for users to gain experience with their skills of choice.
			</p>
			
			</div>
			
			<div class="col-md-6"><h1>The Mission</h1>

			<p>WorkWire is a platform designed to connect skilled workers within South African townships with the local jobs that require their attention. Every day, there are small tasks that people pay others to accomplish. Our mission is to dole out these tasks to the township community, and create an environment where workers can gain experience in skilled professions, all the while saving users money and time.</p>
			</div>
		</div>
	</div>
</div>