<div class="contact-page">
	<h1>Contact Information</h1>

	<div class="fluid container">
	  <div class="row">
	    <div class="col-md-6">
	    	<div class="contact-box">
				<h2>Lucas Pettinato</h2>
				<h3>lucaspettinato2018@u.northwestern.edu <br><br>
				    +27 (76)5305-288
				</h3>
				<img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11800206_10205429828397790_3885340733612417030_n.jpg?oh=aabcb09c89fb4b86bb7602badb1b82a3&oe=5658E0AF", class="lucas">
			</div>
		</div>
		<div class="col-md-6">
			<div class="contact-box">
				<h2>Michael Hanscom</h2>
				<h3>elderhan@umich.edu <br><br>
				    +27 (71)1509-457
				</h3>
				<img src="http://i.imgur.com/mEeFslx.jpg?2", class="michael">
			</div>
		</div>
	  </div>
	</div>
</div>
