<div class="contact-page">
	<h1>Contact Information</h1>

	<div class="fluid container">
	  <div class="row">
	    <div class="col-md-6">
	    	<div class="contact-box">
				<h2>Lucas Pettinato</h2>
				<h3>lucaspettinato2018@u.northwestern.edu <br>
				    +27 (76)5305-288
				</h3>
				<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/11248073_2020578638081121_6828429898159475514_n.jpg?oh=bdda18726b41a41272861f80180a2b5a&oe=564B5688&__gda__=1447228590_ce2b51ef84ce506b26dea8d753a70e67", class="lucas">
			</div>
		</div>
		<div class="col-md-6">
			<div class="contact-box">
				<h2>Michael Hanscom</h2>
				<h3>elderhan@umich.edu <br>
				    +27 (71)1509-457
				</h3>
				<img src="http://i.imgur.com/mEeFslx.jpg?2", class="michael">
			</div>
		</div>
	  </div>
	</div>
</div>
