<h1>Contact Information</h1>

<h2>Michael Hanscom</h2>
<h3>elderhan@umich.edu</h3>
<h3>+27 (71)1509-457</h3>

<br>
<h2>Lucas Pettinao</h2>
<h3>lucaspettinato2018@u.northwestern.ed</h3>
<h3>+27 (76)5305-288</h3>

