<div class="edit-page">
	<div class="fluid container">
		<div class="row">
			<h1>Editing Job</h1>
			<div class="edit-box">
				
				<%= render 'form' %>

				<%= link_to 'Back', jobs_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>