<div class="new-page">
	<div class="fluid container">
		<div class="row">
		<h1>New Job Request</h1>
			<div class="new-box">

				<%= render 'form' %>

				<%= link_to 'Back', jobs_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>