/*HomePage Navbar / Slider*/
.btn-primary:hover, .btn-primary:focus {
	background: #2d78ae;
	outline: none;
	box-shadow: none;
}

.navbar-inverse {
	border-radius: 0;
	margin-bottom: 0;
}

.login_name {
	color: #3BB9FF;
}

.navbar.navbar-inverse {
	margin-bottom: 0px;
}

.navbar-brand {
	position: absolute;
    width: 100%;
    left: 50px;
    text-align: left;
    margin: auto;
    bottom: 14px;
}

.navbar-header {
	position: absolute;
    width: 100%;
    left: 50px;
    text-align: left;
    margin: auto;
    bottom: 14px;
}

.navbar-nav>li {
	padding-bottom: 22px;
}

.btn-slide {
	width: 500px;
	font-size: 50px;
	font-family: 'PT Serif', serif;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#main-slider .carousel h1 {
	color: black;
	font-family: 'PT Serif', serif;
	font-size: 90px;
}

#main-slider .carousel h2 {
	color: black;
	font-family: 'PT Serif', serif;
	font-size: 50px;
}

/*Login Page*/
.login-page h1 {
	color: white;
	text-align: center;
	padding-top: 100px;
	font-family: 'PT Serif', serif;
	font-size: 90px;
}

.login-page-field {
	color: black;
	text-align: center;
}

.login-page-actions {
	color: black;
	text-align: center;
}

.login-page {
	content: "";
	background-image: url("rockwater.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

.login-page-signup {
	text-align: center;
}

.login-signup {
	display: inline-block;
}

.login-box {
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	padding-left: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Signup Page*/
.signup-page h1 {
	color: white;
	text-align: center;
	padding-top: 100px;
	font-family: 'PT Serif', serif;
	font-size: 90px;
}

.signup-page-field {
	color: black;
	text-align: center;
}

.signup-page-actions {
	color: black;
	text-align: center;
}

.signup-page {
	content: "";
	background-image: url("rockwater.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

.signup-box {
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	padding-left: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Forgot Your Password*/
.fyp-page h1 {
	color: white;
	text-align: center;
	padding-top: 100px;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.fyp-page-field {
	color: black;
	text-align: center;
}

.fyp-page-actions {
	color: black;
	text-align: center;
}

.fyp-page {
	content: "";
	background-image: url("rockwater.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

.fyp-box {
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	padding-left: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Edit Profile*/
.edit-profile-page h1 {
	color: white;
	text-align: center;
	padding-top: 100px;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.edit-profile-page h3 {
	color: black;
	text-align: center;
	padding-top: 35px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
}

.edit-profile-page-field {
	color: black;
	text-align: center;
}

.edit-profile-page-actions {
	color: black;
	text-align: center;
}

.edit-profile-page {
	content: "";
	background-image: url("rockwater.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

.edit-profile-back {
	color: black;
	text-align: center;
}

.edit-profile-box {
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	padding-left: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* About Page */

.about-page {
	overflow-y: scroll;
  	position: relative;
}

.about-page h1 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.about-page p {
	color: black;
	padding: 25px;
	font-size: 23px;
	font-family: 'PT Serif', serif;
	height: 260px;
	margin-top: 50px;
	border-radius: 10px;
	margin: 10px;
}

.about-box {
	background: rgba(255, 255, 255, .6);
	border-radius: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.about-page::after {
	content: "";
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a3/Khayelitsha_Lookout-Hill_Ilitha-Park.jpg");
	opacity: 0.4; 
	padding-bottom: 490px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-top: -22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

/*Contact Page*/
.contact-page h1 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.contact-page h2 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 30px;
}

.contact-page h3 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 25px;
}

.contact-page::after {
	content: "";
	background-image: url("https://images.unsplash.com/photo-1413913619092-816734eed3a7?q=80&fm=jpg&s=f3cf2eb12dcb9dd781b1ef5e35b25f12");
	opacity: 0.6; 
	padding-bottom: 490px;
	background-size: cover;
	background-position: center;
	margin-top: -22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 

}
.contact-box {
	background: rgba(255, 255, 255, .6);
	border-radius: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.lucas {
	max-height: 400px;
	border-radius: 20px;
}

.michael {
	max-height: 400px;
	border-radius: 20px;
}


/*Job Listings*/
.job-listings {
	overflow-y: scroll;
  	position: relative;
}

.job-listings h1 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.job-listings td {
	text-align: left;
}

.search-box {
	display: inline-block;
	float: right;
}

.job-link {
	color: black;
	font-family: 'PT Serif', serif;
	display: inline-block;
}

.job-listings::after {
	content: "";
	background-image: url("https://download.unsplash.com/photo-1429032021766-c6a53949594f");
	opacity: 0.5; 
	padding-bottom: 490px;
	background-size: cover;
	background-position: center;
	margin-top: -22px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

.job-listings-box {
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	padding-left: 10px;
}

.table.job-table td {
    /*border-spacing: 0.5rem;*/
    padding: 10px;
}

/*Your Posts*/
.your-posts h1 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.your-posts-box {
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	padding-left: 10px;
}

.your-posts td {
	text-align: left;
}

.your-posts::after {
	content: "";
	background-image: url("https://download.unsplash.com/photo-1418479631014-8cbf89db3431");
	opacity: 0.6; 
	padding-bottom: 490px;
	background-size: cover;
	background-position: center;
	margin-top: -22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

/*New*/
.new-page {
	overflow-y: scroll;
	position: relative;
}

.new-page h1 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.new-box {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	width: 550px;
	padding-bottom: 100px;
}

.new-box .form-control, .edit-box .form-control {
	width: 80%;
	margin: 0 auto;
}

.new-page::after {
	content: "";
	background-image: url("https://download.unsplash.com/photo-1429032021766-c6a53949594f");
	opacity: 0.6; 
	padding-bottom: 490px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-top: -22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

/*Edit*/
.edit-page {
	overflow-y: scroll;
  	position: relative;
}

.edit-page h1 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}


.edit-box {
	margin-right: auto;
	margin-left: auto;
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	width: 550px;
	padding-bottom: 100px;
}

.edit-page::after {
	content: "";
	background-image: url("https://download.unsplash.com/photo-1429032021766-c6a53949594f");
	opacity: 0.6; 
	padding-bottom: 490px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-top: -22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

/*Job Form */
.form-attributes {
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

/*Show*/
.show-page {
	overflow-y: scroll;
  	position: relative;
}

.show-page h1 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}


.show-box {
	margin-right: auto;
	margin-left: auto;
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	width: 550px;
	padding-top: 12px;
	padding-bottom: 180px;
}

.show-box p {
	text-align: left;
	padding-left: 20px;
}

.show-bottom {
	margin-right: auto;
	margin-left: auto;
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	width: 550px;
	padding-bottom: 100px;
	padding-top: 12px;
}

.show-bottom-two {
	margin-right: auto;
	margin-left: auto;
	background: rgba(255, 255, 255, .9);
	border-radius: 10px;
	text-align: center;
	width: 550px;
	padding-bottom: 100px;
	padding-top: 12px;
}

.show-page::after {
	content: "";
	background-image: url("https://download.unsplash.com/photo-1429032021766-c6a53949594f");
	opacity: 0.6; 
	padding-bottom: 490px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-top: -22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

.application-form .form-control {
	width: 80%;
	margin: 0 auto;
}

/* Sticky Footer */

#footer {
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	padding-top: 0;
	z-index: 1000;
}

.color-border {
	padding-bottom: 60px;
}

/*Glyphicons*/

.red {
	color: red;
}

.green {
	color: green;
}

/* Fixes for theme */

/*
.container-fluid {
	background-color: #222222;
}

.navbar .navbar-inverse {
	border-radius: 0;
}

*/

/* something is overriding this on heroku wtf */
.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #3498db !important;
	color: #fff !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #3498db !important;
	color: #fff !important;

}

.navbar-brand {
	color: #fff !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff !important;
}