/*HomePage Navbar / Slider*/
.navbar-inverse {
	border-radius: 0;
}

.login_name {
	color: #3BB9FF;
}

.navbar-brand {
	position: absolute;
    width: 100%;
    left: 50px;
    text-align: left;
    margin: auto;
    bottom: 14px;
}

.navbar-nav>li {
	padding-bottom: 22px;
}

.btn-slide {
	width: 500px;
	font-size: 50px;
	font-family: 'PT Serif', serif;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#main-slider .carousel h1 {
	color: black;
	font-family: 'PT Serif', serif;
	font-size: 80px;
}

#main-slider .carousel h2 {
	color: black;
	font-family: 'PT Serif', serif;
	font-size: 30px;
}

/*Login Page*/
.login-page h1 {
	color: white;
	text-align: center;
	padding-top: 100px;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.login-page-field {
	color: black;
	text-align: center;
}

.login-page-actions {
	color: black;
	text-align: center;
}

.login-page {
	content: "";
	background-image: url("http://topwalls.net/wallpapers/2012/08/Table-Mountain-National-Park-Cape-Town-South-Africa-1080x1920.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

.login-page-signup {
	text-align: center;
}

.login-signup {
	display: inline-block;
}

/*Contact Page*/
.contact-page {
	text-align: center;
	background-image: url("http://www.aroundaboutcars.com/images/content/images/Cape%20Town%20Metropolitan.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 

}
.contact-box {
	background: white;
	border-radius: 10px;
}



/*Signup Page*/
.signup-page h1 {
	color: white;
	text-align: center;
	padding-top: 100px;
	font-family: 'PT Serif', serif;
	font-size: 70px;
}

.signup-page-field {
	color: black;
	text-align: center;
}

.signup-page-actions {
	color: black;
	text-align: center;
}

.signup-page {
	content: "";
	background-image: url("http://topwalls.net/wallpapers/2012/08/Table-Mountain-National-Park-Cape-Town-South-Africa-1080x1920.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

/*Forgot Your Password*/
.fyp-page h1 {
	color: white;
	text-align: center;
	padding-top: 100px;
	font-family: 'PT Serif', serif;
	font-size: 50px;
}

.fyp-page-field {
	color: black;
	text-align: center;
}

.fyp-page-actions {
	color: black;
	text-align: center;
}

.fyp-page {
	content: "";
	background-image: url("http://topwalls.net/wallpapers/2012/08/Table-Mountain-National-Park-Cape-Town-South-Africa-1080x1920.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

/*Edit Profile*/
.edit-profile-page h1 {
	color: white;
	text-align: center;
	padding-top: 100px;
	font-family: 'PT Serif', serif;
	font-size: 50px;
}

.edit-profile-page h3 {
	color: white;
	text-align: center;
	padding-top: 35px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
}

.edit-profile-page-field {
	color: black;
	text-align: center;
}

.edit-profile-page-actions {
	color: black;
	text-align: center;
}

.edit-profile-page {
	content: "";
	background-image: url("http://topwalls.net/wallpapers/2012/08/Table-Mountain-National-Park-Cape-Town-South-Africa-1080x1920.jpg");
	opacity: 0.8; 
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

.edit-profile-back {
	color: black;
	text-align: center;
}

/* About Page */
.about-page h1 {
	color: black;
	text-align: center;
	font-family: 'PT Serif', serif;
}

.about-page p {
	color: black;
	padding: 50px;
	font-size: 23px;
	font-family: 'PT Serif', serif;
}

.about-page::after {
	content: "";
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a3/Khayelitsha_Lookout-Hill_Ilitha-Park.jpg);
	opacity: 0.4; 
	padding-bottom: 490px;
	background-size: cover;
	background-position: center;
	margin-top: -22px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

/* Sticky Footer */
#footer {
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	padding-top: 0;
	z-index: 1000;
}

.color-border {
	padding-bottom: 60px;
}